<ul id="thumbinals-list-carousel" class="horizontal-list list jcarousel-skin-custom">
    {% for assortment_top_page in assortment_top_pages %}
        <li class="thumbinal-box">
			<a class="thumbinal-link" href="{{ path(assortment_top_page.route.routeName) }}">
				<img src="{{ fullMediaPath(assortment_top_page.assortmentPageHasMedias|first.media,'reference')| imagine_filter('thumb_210x113') }}" />

			</a>
        	<p class="thumbinal-desc"> <a href="{{ path(assortment_top_page.route.routeName) }}">{{ assortment_top_page.title }} </a></p>
        </li>
    {% endfor %}
</ul>
