<table border="0">
	<tr>
		<td>
			<strong>Imie i Nazwisko</strong>
		</td>
		<td>
			{{ templateObj.name }}
		</td>
	</tr>
	<tr>
		<td>
			<strong>Telefon</strong>
		</td>
		<td>
			{{ templateObj.phone }}
		</td>
	</tr>
	<tr>
		<td>
			<strong>Email</strong>
		</td>
		<td>
			{{ templateObj.email }}
		</td>
	</tr>
	<tr>
		<td>
			<strong>Wiadomość</strong>
		</td>
		<td>
			{{ templateObj.message }}
		</td>
	</tr>
</table>