<h2>Form Media Type & SEO</h2>

<div>

    <p>
        The <code>form_media_type</code> allows to add a Media to an entity. The Media information will be stored in a dedicated media table. <br />

        <br />
        <strong>Example</strong> :
        Please enter a youtube url and press the "Preview Video" button. <br />

    </p>
    
</div>

{{ sonata_block_render({
    'type': 'sonata.block.service.rss',
    'settings': {
        'title': 'Sonata Projects Feeds',
        'url': 'http://sonata-project.org/blog/archive.rss'
    }
}) }}

<h2>One more thing</h2>
<p>
    This page also uses the <code>SonataSeoBundle</code> to inject specific headers information. This is done by reading
    the Media information

</p>

<h2>Usage</h2>

<h3>Controller</h3>
