<h2>Form Media Type & SEO</h2>

<div>
    <div class="section">
        <h4>storitve</h4>
        <ul>
            <li>meritve strojnih instalacij</li>
            <li>centralna ogrevanja</li>
            <li>prezračevanje in hlajenje</li>
            <li>plinske instalacije</li>
            <li>vodovodne instalacije</li>
            <li>požarni sistemi</li>
        </ul>
    </div>
    <div class="section">
        <h4>stranke</h4>
        <ul>
            <li>A-Banka</li>
            <li>Mercator</li>
            <li>Titan Kamnik</li>
        </ul>
    </div>
    <h2>One more thing</h2>
    <p>
        This page also uses the <code>SonataSeoBundle</code> to inject specific headers information. This is done by reading the Media information
    </p>
</div>

{#
{{ sonata_block_render({
    'type': 'sonata.block.service.rss',
    'settings': {
        'title': 'Sonata Projects Feeds',
        'url': 'http://sonata-project.org/blog/archive.rss'
    }
}) }}
#}



