
 <html>
<head>
<title> Title Text Goes Here </title>
</head>
<body>
<div style="border:1px solid #000;padding:20px; width:600px;margin:20px auto; min-height:500px;">
    <h1>{{ title }}</h1>
    
    <div class="cont">
        {{ body|raw }}
    </div>
    
</div>

</body>
</html>
