parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_name:     baznik_web_site_dev
    database_user:     root
    database_password: root

    mailer_transport:   smtp
    mailer_host:        localhost
    mailer_user:
    mailer_password:

    locale:             en

    aj_template_name:   JMISiteBundle
    secret:             asdjhkl5jkh43k6g3464i36l34ihzilr8tezwr8tz948z3
    
    # Assetic paths
    base_path:          /jmi

    #assetic.path.java:            c:\Windows\system32\java.exe
    assetic.path.java:            %kernel.root_dir%/Resources/java.exe

    #assetic.path.node:            C:\localhost\wamp\bin\node.exe
    assetic.path.node:            %kernel.root_dir%/Resources/node.exe
    assetic.path.node_paths:      [%kernel.root_dir%/Resources/node_modules]

    assetic.path.uglifycss:       %kernel.root_dir%/Resources/node_modules/uglifycss/uglifycss
    assetic.path.uglifyjs:        %kernel.root_dir%/Resources/node_modules/uglify-js/uglify-js

    # Sonata Admin Options
    sonata_admin.title:             "AJ CMS Project"
    sonata_admin.logo_title:        %base_path%/bundles/sonataadmin/logo_title.png


    # Sonata News Options
    sonata_news.blog_title:         My Awesome Blog
    sonata_news.blog_link:          http://awesome-blog.ltd
    sonata_news.blog_description:   My Awesome blog description
    sonata_news.salt:               ThisTokenIsNotSoSecretChangeIt
    sonata_news.comment.emails:     [mail@example.org]
    sonata_news.comment.email_from: no-reply@example.org

    # Sonata Media options
    sonata_media.cdn.host:          %base_path%/uploads/media

    # Sonata User Options
    sonata_user.google_authenticator.server:  localhost
