{% extends '::base.html.twig' %}
	{% block left_top_column  %}
		{{ knp_menu_render('assortmentCategory') }}
	{% endblock %}
	{% block main_column  %}
		<ul class="items-list">
		     {% for item in pagination %}
			     <li class="item {% if loop.index is odd %}color{% endif %}">
			     	<h2 class="item-name">{{ item.title }}</h2>
			     	{% if item.assortmentPageHasMedias %}
						{% if item.assortmentPageHasMedias|first.media %}
							{% if item.route.routeName is null %}
								{% thumbnail item.assortmentPageHasMedias|first.media , 'admin' with {'width': 75, 'height': 60} %}
							{% else %}
								<a class="item-image" href="{{ path(item.route.routeName) }}">
									{% thumbnail item.assortmentPageHasMedias|first.media , 'admin' with {'width': 75, 'height': 60} %}
								</a>
							{% endif %}

						{% endif %}
					{% endif %}
			     </li>
		     {% endfor %}
		</ul>
		<div class="navigation">
		    {{ knp_pagination_render(pagination) }}
		</div>
		
	{% endblock %} 	