{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
    	{% if object.assortmentCategory %}
    	<a href="{{ field_description.associationadmin.generateObjectUrl('edit', value) }}">
        	{{ object.assortmentCategory.title }}
        </a>
        {% endif %}
    </div>
{% endblock %}