{% spaceless %}
    <div class="row-box">
        <div class="form-left left">
            {{ form_label(form) }} <span class="localization-row-sub-label"> (np. Zielona góra / Zacisze)</span>
        </div>    	
        <div class="form-right right">
            {{ form_widget(form) }}
        </div>     
        <div class="clear"></div>        
    </div>
    {{ form_errors(form) }}
{% endspaceless %}