{% extends sonata_block.templates.block_base %}
{% block block %}
<div class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" id="form-accordion">   
    <div class="form ui-corner-top ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="form">     
     	{{ content }}
    </div>
</div>
{% endblock %}